/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .nav {
    display: none;
    width: 0;
  }

  .main {
    display: flex;
    flex: 0 0 100%;
    margin-left: 0%;
    flex-direction: column;
  }

  /* .moblie_nav {
    display: flex;
    flex-direction: column;

    width: 80%;
    position: fixed;
  } */

  /*--------- top seach menu---------- */
  .top {
    align-items: center;
    justify-content: center;
  }
  .search-container {
    width: 90%;
    display: flex;
  }

  .profile-container {
    display: none;
  }

  /*----------- mobile header----------- */
  .mobile_header {
    display: flex;
    height: 80px;
    padding: 20px;
    background: rgb(3, 35, 75);
    color: #fff;
  }

  .bar_nav {
    height: 60px;
    width: 40px;
  }

  .box-icon,
  .bar_nav .outline {
    /* height: 60px;
    width: 40px; */
    font-size: 65px;
    color: #fff;
  }
}
