/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .nav {
    display: none;
    width: 0;
  }

  .main {
    display: flex;
    flex: 0 0 100%;
    margin-left: 0%;
    flex-direction: column;
  }

  .moblie_nav {
    display: flex;
    flex-direction: column;
    width: 80%;
    position: fixed;
  }

  /*--------- top seach menu---------- */
  .top {
    align-items: center;
    justify-content: center;
  }
  .search-container {
    width: 90%;
    display: flex;
  }

  .profile-container {
    display: none;
  }

  /*----------- mobile header----------- */
  .mobile_header {
    display: flex;
    height: 80px;
    padding: 20px;
    background: rgb(3, 35, 75);
    color: #fff;
    overflow: hidden;
  }

  /*----------- icon ----------- */
  .bar_nav {
    width: 60px;
    height: 50px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
  }

  .outline {
    color: #fff;
    border: 2px solid green;
    width: 100%;
    height: 100%;
  }

  .outline[data-icon="cil:hamburger-menu"] {
    position: absolute;
    top: -10px;
    left: -9px;
    padding: 0;
    margin: 0;
  }

  /*----------- company name ----------- */
  .name {
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    width: 80%;
    height: 60px;
    /* justify-content: start; */
  }

  .headline {
    /* padding: 10px; */
    /* margin-top: 10px; */
    /* text-align: center; */
    font-size: 200%;
    /* margin-bottom: 15px; */
    /* letter-spacing: 0.12em; */
    margin: 0;
  }

  .top_title {
    /* border: 1px solid yellow;
    margin-bottom: 5px; */
  }

  .profile_picture {
    height: 60px;
    width: 100%;
    display: flex;
    background: #04326c;
    padding: 5px;
  }

  .profile_picture img {
    /*height: 90px;
    width: 80px;
    */
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}
