:root{

}

*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

html,
body{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: normal;
line-height: 135%;
font-size: 16px;
text-rendering: optimizeLegibility;
color: #000;
}

header{
    font-size: 180%;
    padding: 10px;
 
}
/* ------flex container--- */
.container{
    display: flex;
}

.nav{
    flex: 1 1 20%;
    position: fixed;
    border-color:rgba(0,22,22,0.4);
}

.main{
    flex: 2 1 65%;
    margin-left: 25%;
}


/* -----nav----- */
#navbar{
/* position: fixed; */
/* min-width:290px; */
top:0px;
left:0px;
/* width:300px; */
height:100%;
border-right:solid;
border-color:rgba(0,22,22,0.4);
  }

#navbar ul{
    height: 88%;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 12%;
}

nav ul a{
    list-style: none;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

nav ul a li{
    padding: 10px;
    border: 2px solid red;
}

.item{

}

@media(max-width: 600px){
    .container{
        display: flex;
        flex-direction: column;
    }

    .nav{
        flex: 1;
        position: relative;
        border-color:rgba(0,22,22,0.4);
    }
    
    .main{
        flex: 1;
        margin-left: 25%;
    }
}




